@model List<BE2505.DataAccess.DTO.Product_Practice>
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>Product Description</th>
            <th>IsActive</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductID</td>
                    <td>@item.PracticeName</td>
                    <td>@item.PracticeDesc</td>
                    <td>@item.IsActive</td>
                    <td>
                        <button class="btn btn-info edit" onclick="OpenUpdateProduct(@item.ProductID)">Edit</button>
                        <button class="btn btn-danger delete" onclick="DeleteProduct(@item.ProductID)">Delete</button>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<h2>Chỉnh sửa sản phẩm</h2>
<div>
    <span>ID</span>
    <input type="text" id="txtProductIDEdit" />
</div>
<div>
    <span>Tên sản phẩm</span>
    <input type="text" placeholder="Nhập tên sản phẩm" id="txtTenSanPhamEdit" />
</div>
<div>
    <span>Mô tả sản phẩm</span>
    <input type="text" placeholder="Mô tả sản phẩm" id="txtMoTaSanPhamEdit" />
</div>
<div class="text-center">
    <button type="button" class="btn btn-success create" onclick="UpdateProduct()">Chỉnh sửa</button>
</div>

<h2>Thêm mới sản phẩm</h2>
<div>
    <span>Tên sản phẩm</span>
    <input type="text" placeholder="Nhập tên sản phẩm" id="txtTenSanPham" />
</div>
<div>
    <span>Mô tả sản phẩm</span>
    <input type="text" placeholder="Mô tả sản phẩm" id="txtMoTaSanPham" />
</div>
<div class="text-center">
    <button type="button" class="btn btn-success create" onclick="InsertProduct()">Thêm mới</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

    });
    function InsertProduct() {
        var tenSanPham = $("#txtTenSanPham").val();
        var moTaSanPham = $("#txtMoTaSanPham").val();
        if (tenSanPham == "" || tenSanPham == null) {
            alert("Chưa nhập tên sản phẩm");
            return;
        }
        if (moTaSanPham == "" || moTaSanPham == null) {
            alert("Chưa nhập mô tả sản phẩm");
            return;
        }
        var input_data = {
            PracticeName: tenSanPham,
            PracticeDesc: moTaSanPham
        }
        var url = "/Home/InsertProduct";
        $.ajax({
            type: 'POST',
            url: url,
            data: input_data,
            success: function (data) {
                alert(data.message);
                window.location.reload();
            },
            error: function (data) {
                alert(JSON.stringify(data));
            }
        })
    }
    function DeleteProduct(item) {
        if (item == "" || item == null) {
            alert("Chưa nhập");
            return;
        }
        var input_data = {
            ProductID: item
        }
        var url = "/Home/DeleteProduct";
        $.ajax({
            type: 'POST',
            url: url,
            data: input_data,
            success: function (data) {
                alert(data.message);
                window.location.reload();
            },
            error: function (data) {
                alert(JSON.stringify(data));
            }
        })
    }
    function OpenUpdateProduct(ProductID, PracticeName, PracticeDesc) {
        $("#txtProductIDEdit").val(ProductID);
        $("#txtTenSanPhamEdit").val(PracticeName);
        $("#txtMoTaSanPhamEdit").val(PracticeDesc);
    }
    function UpdateProduct() {
        var IDSanPham = $("#txtProductIDEdit").val();
        var tenSanPham = $("#txtTenSanPhamEdit").val();
        var moTaSanPham = $("#txtMoTaSanPhamEdit").val();
        if (tenSanPham == "" || tenSanPham == null) {
            alert("Chưa nhập tên sản phẩm");
            return;
        }
        if (moTaSanPham == "" || moTaSanPham == null) {
            alert("Chưa nhập mô tả sản phẩm");
            return;
        }
        var input_data = {
            ProductID: IDSanPham,
            PracticeName: tenSanPham,
            PracticeDesc: moTaSanPham
        }
        var url = "/Home/UpdateProduct";
        $.ajax({
            type: 'POST',
            url: url,
            data: input_data,
            success: function (data) {
                alert(data.message);
                window.location.reload();
            },
            error: function (data) {
                alert(JSON.stringify(data));
            }
        })
    }
</script>
